@import "reset.css";

body {
    margin: 0;
    background-image: url('/imgs/background_white.jpg');
    background-size: cover; 
    /* 배경 이미지를 화면에 맞춥니다. */
    background-repeat: no-repeat; 
    /* 배경 이미지 반복하지 않도록 설정합니다. */
    background-position: center center; 
    /* 배경 이미지를 중앙에 위치시킵니다. */
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    z-index: -1;
    font-family: 'East Sea Dokdo', cursive;    
}

#homeTitle {
    position: fixed;
    /* width: 375px;
    height: 88px; */
    /* position: absolute; */
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    top: 88px;
    font-family: 'East Sea Dokdo';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    /* line-height: 37px; */
    text-align: center;
    color: #000000;
}


#btn {
    font-family: 'East Sea Dokdo', cursive;    
    font-size: 40px;
    background: #5C4545;
    border: none;
    color: white;
    border-radius: 21px;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0,4,4,0), 0 6px 6px rgba(0,0,0,0.23);
    position: fixed;
    width: 230px;
    height: 71.17px;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
}


#underline_brown {
    font-family: 'East Sea Dokdo', cursive;    
    text-decoration: underline;
    text-underline-position: under;
    font-size: 32px;
    color: #5C4545;
    border: none;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
    position: fixed;
    width: 313px;
    height: 74px;
    bottom: 27px;
    left: 50%;
    transform: translateX(-50%);
}
