body {
    font-family: 'East Sea Dokdo', cursive;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#homeTitle {
    position: absolute;
    width: 375px;
    height: 154px;
    left: calc(50% - 375px/2 - 1.5px);
    top: 88px;
    font-family: 'East Sea Dokdo';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 37px;
    text-align: center;
    color: #000000;
}
#btn {
    font-family: 'East Sea Dokdo', cursive;    
    font-size: 40px;
    background: #5C4545;
    border: none;
    color: white;
    border-radius: 21px;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0,4,4,0), 0 6px 6px rgba(0,0,0,0.23);
    /* justify-content: center; */
    position: relative;
    width: 230px;
    height: 71.17px;
    top: 680px;
}
.btnStart {
    position: absolute;
    /* width: 230px;
    height: 71.17px; */
}
.btnLogin {
    position: absolute;
    /* width: 230px;
    height: 71.17px; */
    /* top: 678px; */
}
.goLogin {
    position: absolute;
}
.goSignin {
    position: absolute;
}
.hidden {
    display: none;
}
#warning {
    color: red;
    font-family: sans-serif;
}
.exit {
    background-color: transparent;
    border: none;
}
#btnExit {
    margin: 0;
    padding: 0;
    position: absolute;
    top: -20px;
    right: -10px;
}
#underline_brown {
    font-family: 'East Sea Dokdo', cursive;    
    text-decoration: underline;
    text-underline-position: under;
    font-size: 32px;
    color: #5C4545;
    border: none;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
    position: relative;
    width: 313px;
    height: 74px;
    top: 750px;
}
.infos {
    padding: 10px 0 10px 20px; 
    width: 359px;
    display: block;
    text-align: start;
}
.info {
    font-size: 15px;
    font-family: sans-serif;
}
.infos input {
    padding-right: 10px;
}

#modalSignin {
    position: absolute;
    width: 359px;
    height: 437px;
    left: calc(50% - 359px/2 + 0.5px);
    top: 202px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}
input {
    background: rgba(191, 177, 177, 1);
    height: 51px;
    width: 314px;
    left: 42px;
    top: 298px;
    border-radius: 11px;
    border: none;
    text-indent: 1em;       /*placeholder 좌측 공백*/
    width: 200px;
    height: 45px;
    align-items: flex-start;
    margin-left: 5px;
}
input::placeholder{
    font-size: 16px;
    color: #D2D2D2;
}

.btnSignin {
    position: absolute;
    /* width: 230px;
    height: 64.96px; */
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
#modalLogin{
    position: absolute;
    width: 359px;
    height: 318px;
    left: calc(50% - 359px/2 - 0.5px);
    top: 202px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}

@media screen and (min-width: 320px){      /* smartphone */
    body {
        background-image: url('imgs/background_white.jpg');
    }
}
