@import "reset.css";

body {
    margin: 0;
    background-image: url('/imgs/background_white.jpg');
    background-size: cover; 
    /* 배경 이미지를 화면에 맞춥니다. */
    background-repeat: no-repeat; 
    /* 배경 이미지 반복하지 않도록 설정합니다. */
    background-position: center center; 
    /* 배경 이미지를 중앙에 위치시킵니다. */
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    /* z-index: -1; */

}

#homeTitle {
    position: fixed;
    /* width: 375px;
    height: 88px; */
    /* position: absolute; */
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    top: 88px;
    font-family: 'East Sea Dokdo';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    /* line-height: 37px; */
    text-align: center;
    color: #000000;
}


#btn {
    font-family: 'East Sea Dokdo', cursive;    
    font-size: 40px;
    background: #5C4545;
    border: none;
    color: white;
    border-radius: 21px;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0,4,4,0), 0 6px 6px rgba(0,0,0,0.23);
    position: fixed;
    width: 230px;
    height: 71.17px;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
}


#underline_brown {
    font-family: 'East Sea Dokdo', cursive;    
    text-decoration: underline;
    text-underline-position: under;
    font-size: 32px;
    color: #5C4545;
    border: none;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
    position: fixed;
    width: 313px;
    height: 74px;
    bottom: 27px;
    left: 50%;
    transform: translateX(-50%);
}

#modalTitle {
    font-family: 'East Sea Dokdo', cursive;    
    font-size: 40px;
    padding: 20px 0 20px 0;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}

.hidden {
    display: none;
}
#warning {
    color: red;
    font-family: sans-serif;
}
.exit {
    background-color: transparent;
    border: none;
}
#btnExit {
    margin: 0;
    padding: 0;
    position: fixed;
    top: -20px;
    right: -10px;
}

#modalLogin {
    position: fixed;
    width: 290px;
    /* 359 */
    height: 318px;
    top: 210px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}

#modalSignin {
    position: fixed;
    width: 359px;
    height: 437px;
    top: 210px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}

.infos {
    padding-top: 90px;
}
.infoTitle {
    font-size: 15px;
    font-family: sans-serif;
}
.info input {
    padding-right: 10px;
}
input {
    background: rgba(191, 177, 177, 1);
    height: 51px;
    width: 314px;
    /* left: 42px;
    top: 298px; */
    border-radius: 11px;
    border: none;
    text-indent: 1em;       /*placeholder 좌측 공백*/
    width: 200px;
    height: 45px;
    /* align-items: flex-start; */
    margin-left: 5px;
}
input::placeholder{
    font-size: 16px;
    color: #D2D2D2;
}


