@import "reset.css";

body {
    margin: 0;
    background-image: url('/imgs/background.jpg');
    background-size: cover; 
    /* 배경 이미지를 화면에 맞춥니다. */
    background-repeat: no-repeat; 
    /* 배경 이미지 반복하지 않도록 설정합니다. */
    background-position: center center; 
    /* 배경 이미지를 중앙에 위치시킵니다. */
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    z-index: -1;
    font-family: 'East Sea Dokdo', cursive;    
}
#mainTitle {
    position: fixed;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    top: 88px;
    font-family: 'East Sea Dokdo';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#mainSubTitle {
    position: fixed;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    top: 160px;
    font-family: 'East Sea Dokdo';
    font-style: normal;
    font-weight: 400;
    position: absolute;
    width: 375px;
    font-size: 36px;
    color: #FFFFFF;
}
#underline_white {
    font-family: 'East Sea Dokdo', cursive;    
    text-decoration: underline;
    text-underline-position: under;
    font-size: 32px;
    color: #FFFFFF;
    border: none;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
    position: fixed;
    width: 313px;
    height: 74px;
    bottom: 27px;
    left: 50%;
    transform: translateX(-50%);
}
#btn_white {
    font-family: 'East Sea Dokdo', cursive;    
    font-size: 40px;
    background: #FFFDF6;
    border: none;
    color: #5C4545;
    border-radius: 21px;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0,4,4,0), 0 6px 6px rgba(0,0,0,0.23);
    position: fixed;
    width: 270px;
    height: 60px;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
}
/* .letters {
    left: 50%;
    transform: translateX(-50%);
    width: 312px;
    height: 434px;
} */
/* .input-wrapper {
    background-image: url('/imgs/letters/letter_1.png');
    width: 312px;
    height: 434px;
    left: 50%;
    transform: translateX(-50%);
    top: 210px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 0;  
} */
/*   
.input-wrapper input {
    position: fixed;
    width: 312px;
    height: 434px;
    left: 50%;
    transform: translateX(-50%);
    top: 210px;
    z-index: 1;
    background-color: transparent; /* 입력창의 배경을 투명하게 설정하여 배경 이미지가 보이도록 함
    border: 5px solid tomato;
} */
.hidden {
    display: none;
}
#letters {
    position: fixed;
    padding-top: 210px;
    left: 50%;
    transform: translateX(-50%);
    width: 312px;
    height: 434px;
    z-index: 1;
}
.marks {
    position: fixed;
    width: 69px;
    height: 67px;
    right: calc(50% - 410px/2);
    z-index: 0;
}
#markFlower {
    top: 251px;
}
#markBoard {
    top: 326px;
}
#markHeart {
    top: 401px;
}